extends layout

block content
  h1= title
  p Hello my name is #{title}, I hope you enjoy my test site in Express
  p Things I am enjoying about the Web Apps and Services class are:
  <div>
  <ul>
  <li>Web apps and services seem very useful to tasks that fall outside of browser based applications as well.
  <li>The class allows me to learn at my own pace and be creative with the hands on examples of everything we learn.
  <li>Everything in this class builds well on the previous unit but does not make you feel like you're drowning if you fall a little behind.
  </ul>
  </div>
